:root {
    --primary-color: #fff;
    --primary-bg: #000;

    --radius-sm: .5rem;
    --radius-lg: 1.5rem;

    --transition-fast: ease 0.3s;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    color: var(--primary-color);
    background: var(--primary-bg);
    font-family: sans-serif;
}

#app {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

h1 {
    font-size: 3rem;
}
